{
    "box": "centos/8",
    "forwarded_ports": [],
    "projects": [],
    "project_scripts": [],
    "provision_privileged_scripts": [
        "base.sh",
        "apache/apache.sh",
        "centos-8/php/7-2.sh",
        "php/composer.sh"
    ],
    "provision_scripts": [],
    "synced_folders": [
        {
            "guest": "/vagrant",
            "host": ".",
            "disabled": true
        }
    ]
}
