{
    "box": "centos/8",
    "forwarded_ports": [
        {
            "guest": 1433,
            "host": 14330,
            "name": "SQL Server"
        }
    ],
    "projects": [],
    "project_scripts": [],
    "provision_privileged_scripts": [
        "base.sh",
        "apache/apache.sh"
    ],
    "provision_scripts": [],
    "synced_folders": [
        {
            "guest": "/vagrant",
            "host": ".",
            "disabled": true
        }
    ]
}
